img.pull-right(src=image alt="Schecter C-8 Deluxe")

p.mg-first In 2016, before #[=""]
  a(href="https://www.patreon.com/saekla/") Sækla
  | , I wrote a #[=""]
  a(href=`${public.montegasppa.blog.url}2016/06/dad-gad.html`) a post
  |  about my guitar tuning at that time. An year after, I wrote two other
  |  posts (
  a(href=`${public.montegasppa.blog.url}2017/04/oito-cordas.html`) here
  |  and #[=""]
  a(href=`${public.montegasppa.blog.url}2017/05/do-maior-aberto.html`) here
  | ) updating and welding the subject.

p This post is an adaptation and translation of that thread.

h3 Turning point

p In the beginning of 2016, I decided to break with the conventions and to do
  |  what I want and feel comfort to do. No more standard tunings, no more
  |  attending expectations. I took 20 years to get there.

p My first try was exchanging the regular picks by finger ones, but that didn’t
  |  work. I simply couldn’t get at ease with them. So I came back to the
  |  regular picks.

h3 DAD-GAD

p The standard guitar tuning (
  a(href="http://gtdb.org/eadgbe") EADBDE
  | ) doesn’t meet my purposes, so I’ve put it away since my earnly youth. But
  |  I used a very similar tuning for a long time, the #[=""]
  a(href="https://gtdb.org/dadgbe") Drop D
  | . At the #[=""]
  a(href=`${public.montegasppa.blog.url}2016/06/dad-gad.html`) first post
  | ’s time, I was just migrated to the #[=""]
  a(href="https://gtdb.org/dadgad") Celtic Tuning
  | , popular in the Irish folk music, with a very interesting sound. But it
  |  narrows the high pitches a bit.

p To solve that issue, I found the 8-string guitar.

p I thought the standard 8-string tuning was the metalheads’ one, which is the
  |  EADBDE, plus 2 lower strings: F#[sup ♯]BEADGBE, but there are
  |  #[strong two] standad 8-string tunings:

+ul
  +li Jazz 8-string tuning: 5 higher guitar strings and 3 lower bass ones:
    |  EADADGBE;
  +li Classical Music 8-string tuning: the 6 middle strings are similar to the
    |  standard EADGBE, but changing B by C, the 8#[sup th] string is an A (one
    |  octave lower than the 6#[sup th]), and the 1#[sup st] one is another A
    |  (a perfect 4#[sup th] higher than the 2#[sup nd] string): AEADGCEA.

p That Classical Music tuning is used by #[=""]
  a(href="https://en.wikipedia.org/wiki/Egberto_Gismonti") Egberto Gismonti
  | , and was what I was looking for!

p So I sold my cherry Tagima Memphis MPL 100 and purchased a satin-black
  |  Schecter C-8 Deluxe. I followed the Classical Music tuning concept,
  |  applying it to the DAD-GAD. The result was 55Hz A + DAD-GAD + 392Hz G
  |  (ADADGADG).

p The sound became very interessing, and some songs had become unexpected
  |  easier to play.

h3 So-far tunings

table.table
  thead
    tr
      th Tuning
      th 8#[sup th]
      th 7#[sup th]
      th 6#[sup th]
      th 5#[sup th]
      th 4#[sup th]
      th 3#[sup rd]
      th 2#[sup nd]
      th 1#[sup st]

  tbody
    tr
      td(style={"font-weight": "bolder"}) EADGBE (standard)
      td -
      td -
      td 82.4Hz#[br][E2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 246.9Hz#[br][B3]
      td 329.6Hz#[br][E4]

    tr
      td(style={"font-weight": "bolder"}) Drop D
      td -
      td -
      td 73.4Hz#[br][D2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 246.9Hz#[br][B3]
      td 329.6Hz#[br][E4]

    tr
      td(style={"font-weight": "bolder"}) Celtic (DAD-GAD)
      td -
      td -
      td 73.4Hz#[br][D2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 220Hz#[br][A3]
      td 293.6Hz#[br][D4]

    tr
      td(style={"font-weight": "bolder"}) F#[sup ♯]BEADGBE (Heavy Metal)
      td 46.2Hz#[br][F#[sup ♯]1]
      td 61.7Hz#[br][B1]
      td 82.4Hz#[br][E2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 246.9Hz#[br][B3]
      td 329.6Hz#[br][E4]

    tr
      td(style={"font-weight": "bolder"}) EADADGBE (Jazz)
      td 41.2Hz#[br][E1]
      td 55Hz#[br][A1]
      td 73.2Hz#[br][D2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 246.9Hz#[br][B3]
      td 329.6Hz#[br][E4]

    tr
      td(style={"font-weight": "bolder"}) Gauge (Jazz / Heavy Metal)
      td(title="2,032μ") .080&#34;
      td(title="1,626μ") .064&#34;
      td(title="1,168μ") .046&#34;
      td(title="864μ") .034&#34;
      td(title="610μ") .024&#34;
      td(title="406μ") .016&#34;
      td(title="279μ") .011&#34;
      td(title="229μ") .009&#34;

    tr
      td(style={"font-weight": "bolder"}) AEADGCEA (Classical Music)
      td 55Hz#[br][A1]
      td 82.4Hz#[br][E2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 261.6Hz#[br][C4]
      td 329.6Hz#[br][E4]
      td 440Hz#[br][A4]

    tr
      td(style={"font-weight": "bolder"}) My tuning
      td 55Hz#[br][A1]
      td 73.4Hz#[br][D2]
      td 110Hz#[br][A2]
      td 146.8Hz#[br][D3]
      td 196Hz#[br][G3]
      td 220Hz#[br][A3]
      td 293.6Hz#[br][D4]
      td 392Hz#[br][G4]

    tr
      td(style={"font-weight": "bolder"}) My gauge
      td(title="1,575μ") .062&#34;
      td(title="1,168μ") .046&#34;
      td(title="914μ") .036&#34;
      td(title="660μ") .026&#34;
      td(title="406μ") .016&#34;
      td(title="279μ") .011&#34;
      td(title="229μ") .009&#34;
      td(title="203μ") .008&#34;

h3 Open C

p After a lot of rehearsals, I realised a drawback: it‘s very easy to miss the
  |  neck region I’m playing.

p I felt that from the very beginning, but I thought it was only a matter of
  |  practice. It wasn’t. After months playing the 8-string DAD-GAD tuning
  |  version, the problem was persisting.

p Meanwhile, I had tuned my acoustic guitar in #[=""]
  a(href="https://gtdb.org/cgcgce") Open C
  | , in order to make it easier for my son to play it. Then I had an insight!

p Using an open tuning, the neck region is irrelevant, one’s always in the same
  |  scale slice, even if miss the right string – only the octave is changed.

p Thereafter I’ve been tuning my 8-string guitar using a version of Open C:

table.table
  thead
   tr
      th 8#[sup th]
      th 7#[sup th]
      th 6#[sup th]
      th 5#[sup th]
      th 4#[sup th]
      th 3#[sup rd]
      th 2#[sup nd]
      th 1#[sup st]

  tbody
    tr
      td 49Hz
      td 65.4Hz
      td 98Hz
      td 130.8Hz
      td 196Hz
      td 261.6Hz
      td 329.6Hz
      td 392Hz

    tr
      td [G1]
      td [C2]
      td [G2]
      td [C3]
      td [G3]
      td [C4]
      td [E4]
      td [G4]

    tr
      td(title="2,032μ") .080&#34;
      td(title="1,168μ") .046&#34;
      td(title="864μ") .034&#34;
      td(title="610μ") .024&#34;
      td(title="406μ") .016&#34;
      td(title="254μ") .010&#34;
      td(title="229μ") .009&#34;
      td(title="203μ") .008&#34;

p The rationale:

+ul
  +li I take no advantage of 2 lower strings, so only one lower G is enough to
    |  grant the low pitches, even not using the board near the nut, which means
    |  I can get only the bass G string.
  +li I got the treble from the high G on the 1#[sup st] string.
  +li It smooths the missing-region issue.

p From melody’s perspective, the string pairs 7#[sup th]-6#[sup th],
  |  5#[sup th]-4#[sup th], and 3#[sup rd]-1#[sup st] complete a octave each,
  |  while the 8#[sup th] string gives a lower tetrachord to supply the leading
  |  tone(s).

p From harmony’s perspective, a simple barring finger gives us a major chord
  |  (if using the 2#[sup nd] string). All leading and passing tones can be
  |  reached 2 frets ahead.

p The only annoyance is the 4#[sup th] degree, always far away.

h3 Japanese scales

p The 8-string Open C makes very easy to play the Japanese pentatonic scales,
  |  #[=""]
  a(href="https://en.wikipedia.org/wiki/Yo_scale") Yo scale
  |  and #[=""]
  a(href="https://en.wikipedia.org/wiki/In_scale") Sakura pentatonic
  | .

h3 Epilogue

p That was the tuning I’ve been using in #[=""]
  a(href="https://montegasppa.bandcamp.com/") my work
  | .

p For better informations about how to tune a guitar, please read the Terry
  |  Stefan’s #[=""]
  a(href="https://guitarsignal.com/guides/how-to-tune-a-guitar/") post
  | , explaining tuning in detail and approaching other essential subjects,
  |  like tuning by ear, using a piano, the 5#[sup th] fret method, using
  |  harmonics (my favorite method), using a tuner, and lots of useful FAQs.
