img.pull-right(src="/img/cacilhas.jpg"
               alt=public.author.name)

p(style={"text-align": "center"})
  span(class=["glyphicon", "glyphicon-hand-right"])
  | &nbsp;&nbsp;
  strong #{public.author.name}
  |, a hippo in a flower field&nbsp;&nbsp;
  span(class=["glyphicon", "glyphicon-hand-left"])
br/

p.mg-first I was born #[strong Rodrigo M. Cacilhas] at Petrópolis/RJ, at the end
  |  of 1975, I got the nickname #[=""]
  a(href="https://en.wikipedia.org/wiki/Archimedes") Archimedes
  |  when I whas 10, for math sciences are usually easy to me – and for
  |  bullying too, since some fellow students wanted to make fun of the gold
  |  crown incident. Later, I changed the spelling to #[strong Arĥimedeς] when
  |  I became #[=""]
  a(href="http://www.esperantio.net/") esperantist
  |  (the final greek sigma has nothing to do with the Esperanto).

p I’m autistic, high gifted and musician, I was learning music from an early
  |  age from my mother, who had been singer. I can play a lot of musical
  |  instruments – strings, fife, and some keyboard ones.

p I studied Chemistry at #[=""]
  a(href="https://www.iq.ufrj.br/") UFRJ’s Chemistry Institute
  | , but I didn’t graduate.

p I’ve learned how to deal with computers since very early on, I began using a
  |  #[=""]
  a(href="http://www.mci.org.br/micro/microdigital/tk85.html") TK85
  | . I was 12 when started programming on a #[=""]
  a(href="http://www.mci.org.br/micro/outros/hotbit.html")
    | MSX-1.1 Hotbit HB-8000
  | , using MS XColour BASIC programming language. Later I switched to #[=""]
  a(href="https://www.perl.org/") Perl 5
  | , #[=""]
  a(href="http://www.open-std.org/jtc1/sc22/wg14/") C
  |  and finally #[=""]
  a(href="https://www.python.org/") Python
  | , at that time in the version 1.5, which became my main programming
  |  language. I’ve also developed professionaly in #[=""]
  a(href="http://www.lua.org/") Lua
  | , #[=""]
  a(href="https://www.oracle.com/java/") Java
  | , #[=""]
  a(href="http://www.cplusplus.com/") C++
  | , #[=""]
  a(href="http://cython.org/") Cython
  |  and about 2016 #[=""]
  a(href="http://es6-features.org/") ECMAScript 2015 / Javascript
  | , #[=""]
  a(href="https://www.typescriptlang.org/") TypeScript
  |  and #[=""]
  a(href="https://golang.org/") Go
  | . Currently I came back to #[=""]
  a(href="https://www.ruby-lang.org/") Ruby
  | , after 13 years not looking at it,
  |  and #[=""]
  a(href="https://www.java.com/") Java
  | .

p I learned a lot of programming languages just for self-improvement, among
  |  them #[=""]
  a(href="http://racket-lang.org/") Scheme
  | , #[=""]
  a(href="http://moonscript.org/") MoonScript
  | , #[=""]
  a(href="http://www.erlang.org/") Erlang
  | , #[=""]
  a(href="https://www.rust-lang.org/pt-BR/") Rust
  | , #[=""]
  a(href="http://www.swi-prolog.org/") Prolog
  | , #[=""]
  a(href="http://sml-family.org/") Standard ML
  | , #[=""]
  a(href="https://ocaml.org/") OCaml
  | , #[=""]
  a(href="http://fsharp.org/") F♯
  | , #[=""]
  a(href="http://www.cincomsmalltalk.com/main/") Smalltalk
  | , #[=""]
  a(href="https://developer.apple.com/library/mac/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Introduction/Introduction.html")
    | Objective-C
  |  and #[=""]
  a(href="http://tcl.tk/") Tcl/Tk
  | .

p I went to FAETERJ IT Tecnological college, completing the course with 9.5
  |  achievement. I was removed by political persecution. Later I was
  |  reintegrated, and I graduated at the end of 2018.

p I worked as hodman, tent loader, even storyteller, network administrator, IT
  |  consultant and software developer.

p Due to my Apraxia of Speech, it’s easy to me learning new languages’
  |  structure, but pronounciation and vocabulary are hard.

p My great-grandfather was called Gasppar Montini at #[=""]
  a(href="https://pt.wikipedia.org/wiki/San_Marino") San Marino
  | , but he changed his name to Monte Gasppa in Brazil, whence I take my
  |  #[strong ℳontegasppα], completing my public name. my great-grandmather’s
  |  name was Giulia Campimori, renamed to Julia Monte.

h3 Contacts

ul.list-group
  each contact in public.author.contacts
    - const image = contact.image
    a(href=contact.url)
      li.list-group-item
        img(src=image.source alt=`${contact.name}: ` style=image.style)
        | &nbsp;
        != contact.title || contact.name
