p.mg-first Everytime I was talking to a friend blogger, he proposed me to write
  |  a blog. I never thought seriously until #[=""]
  a(href="http://montegasppa.blogspot.in/2006/07/prlogo.html") July 2006
  | , when I wrote the first #[strong #{public.montegasppa.blog.title}] post.

p That blog was about Computing, Free Software and programming, but eventually
  |  became a political blog, strongly because I have moved the programming’s
  |  responsability to #[=""]
  a(href=public.kodumaro.blog.url)!= public.kodumaro.blog.title
  | .

p Later #{public.montegasppa.prefix} turned into my personal blog, where I throw
  |  up everything affects me, from religion to music, from Computing to
  |  Politics.

p It was reborn under my #[=""]
  a(href=`${public.main.host}/`) personal website
  | , slightly renamed, once I’ve changed “Monte Gasppa” to “ℳontegasppα”,
  |  but more and more my #[strong personal] blog.

script(src="//cacilhas.info/js/collapse-expand.js")

.collapse-expand-buttons
  a.label.label-default(onClick="expandAll()") Open all
  | &nbsp;
  a.label.label-default(onClick="collapseAll()") Close all

-
  let years = _(public.montegasppa.months).groupBy(
    month => month.date.getYear()
  )
  let lastYear = _.last(_.keys(years).sort())

+ul
  ul
    each year in _.keys(years).sort().reverse()
      -
        let months = years[year]
        let total = _(months).reduce(
          (memo, month) => memo + _.keys(month.dir).length, 0
        )

      li.list-group-item: details(open=(year == lastYear))
        summary
          != parseInt(year) + 1900
          span.badge
            != total
        ul
          each month in months
            li.list-group-item: details(open)
              summary
                != month.title
                span.badge
                  != _.keys(month.dir).length
              ul
                each page, slug in month.dir
                  a(href=`${month.slug}/${slug}.html`): +li2
                    != page.title

  a(href="http://montegasppa.blogspot.in/")
    li.list-group-item
      img(src="/img/blogger.png" alt="" style={width: "24px", height: "24px"})
      |  Previous posts
