include ../../../_widgets/list-group-item.pug

p.text-center: img(src=image alt=public.hondaj.title)

p.mg-first Há uns 10 anos atrás, eu e meu filho mais velho começamos a
  |  desenvolver um sistema de RPG simples e genérico, e criamos um #[=""]
  a(href=public.hondaj.url): em blog
  |  para rastear a evolução.

p Infelizmente o projeto parou alguns meses depois, por falta de tempo.

p Continuo sem tempo, mas pretendo retomar o trabalho aos pouquinhos, entre
  |  outros projetos, e pra isso ressucitei o #[em blog].

h3 Acessível

p A ideia é que o sistema seja #[=""]
  a(href=`${public.hondaj.url}2007/05/material`) acessível
  | , não elitista, portanto precisa poder ser jogado com equipamentos simples:

+ul
  +li cadernos
  +li lápis
  +li borrachas
  +li um pedaço qualquer de papelão (para esconder a região do #[=""]
    a(href="http://pt.wikipedia.org/wiki/Mestre_de_jogo") GM
    | )
  +li dados de seis faces (vulgos d₆)

h3 Princípios básicos

p São #[=""]
  a(href=`${public.hondaj.url}2007/05/principios-basicos`)
    | quatro princípios básicos
  | : dinamismo, acessibilidade, generalidade e inteligibilidade.

+ul
  +li O sistema numérico e os cálculos devem ser simples e rápidos para não
    |  prejudicar a fluidez da sessão – princípio do #[strong dinamismo].
  +li Os objetos necessários para o jogo devem ser de fácil acesso – caderno,
    |  lápis, borracha e dados de seis faces – para que o sistema não se torne
    |  um mecanismo elitista. Princípio da #[strong acessibilidade].
  +li As regras devem ser flexíveis o suficiente para lidar com situações
    |  imprevistas, por isso devem ser o mais livres de tabelas possível –
    |  princípio da #[strong generalidade].
  +li Para que os jogadores possam se dedicar à representação, o sistema deve
    |  ser intuitivo – princípio da #[strong inteligibilidade].

p Espero que desta vez o projeto avance, mesmo que a passos de tartaruga.
