img.pull-right(src=image alt="Autismo")

p.mg-first Tem uma turma reclamando que agora, com o #[=""]
  a(href="https://icd.who.int/dev11/l-m/en") CID-11
  | , #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F84.5"
    title="F84.5")
    | Asperger
  |  vai virar #[=""]
  a(href="https://icd.who.int/dev11/l-m/en#/http://id.who.int/icd/entity/437815624"
   title="6A02")
    | autista
  | . Bem, vou dar um #[em spoiler] deste artigo: #[=""]
  strong sempre foi
  | .

p O pediatra austríaco #[=""]
  a(href="https://pt.wikipedia.org/wiki/Hans_Asperger") Hans Asperger
  |  foi um dos primeiros profissionais a usar a palavra “autistas” –
  |  #[em autistischen] – em um trabalho oficial, #[=""]
  a(href="http://www.autismus-biberach.com/Asperger_Hans-_Autistischen_Psychopathen.pdf"
   title="A “psicopatia autista” na infância – Tese de capacitação, submetida à Faculdade de Medicina da Universidade de Viena.")
    | Die „Autistischen Psychopathen“ im Kindesalter – Habilitationsschrift,
    |  eingereicht bei der Medizinischen Fakultät der Wiener Universität
  | , em 1943.

p O motivo das pessoas acharem que Síndrome de Asperger não seja autismo é
  |  o trabalho de outro austríaco, o psiquiatra #[=""]
  a(href="https://pt.wikipedia.org/wiki/Leo_Kanner") Leo Kanner
  | , #[=""]
  a(href="https://simonsfoundation.s3.amazonaws.com/share/071207-leo-kanner-autistic-affective-contact.pdf"
    title="Distúrbios autistas do contato afetivo.")
    | Autistic disturbances of affective contact
  | . Foi o trabalho de Kanner que deu origem ao #[=""]
  a(href="http://apps.who.int/classifications/icd10/browse/2016/en#/F84.0"
    title="F84.0")
    | autismo infantil
  | .

p Asperger e Kanner estudaram o mesmo distúrbio, mas com abordagens diferentes.

p Como resultado de seus estudos, Kanner concluiu que devemos remover os
  |  estímulos das crianças autistas e ainda atribuiu a causa do distúrbio
  |  às #[=""]
  a(href="https://pt.wikipedia.org/wiki/Mãe-geladeira"
    title="mães-geladeira") mães
  | .

p Enquanto isso, Asperger sugeriu uma abordagem de #[=""]
  u(title=explanation) muito estímulo
  | . Olhando hoje para trás, não é difícil advinhar que os pacientes dos dois
  |  estudos se desenvolveram de modo completamente diferentes.

p Devido à diferença de evolução dos dois estudos, os profissionais chegaram a
  |  acreditar que se tratasse de duas condições diferentes. Mais tarde
  |  começaram a considerar a Síndrome de Asperger como uma forma mais leve de
  |  autismo.

p Atualmente se acredita que os autistas são tão diferentes uns dos outros que é
  |  irreal tentar agrupá-los em síndromes diferentes, por isso o #[=""]
  a(href="https://www.psychiatry.org/psychiatrists/practice/dsm") DSM-5
  |  já não os separa mais. O mesmo pensamento agora se reflete no #[=""]
  a(href="https://icd.who.int/dev11/l-m/en") CID-11
  | , a ser lançado #[=""]
  u(title="2018") este ano
  | .

p Perceba que em momento algum Síndrome de Asperger #[em virou] autismo, o que
  |  acontece é a evolução natural da ciência, que comete erro, aprende e se
  |  corrige, evoluindo ao corrigir-se. Asperger corretamente identificou seus
  |  pacientes como autistas; psicopedagogos posteriores confundiram diferentes
  |  resultados de abordagens diferentes com condições diferentes, mas o
  |  equívoco está sendo corrigido.
