img.pull-right(src=image alt="Neurodiversidade")

p.mg-first Já uns três ou quatro amigos meus vieram me questionar, preocupados
  |  com a relação entre vacinação e autismo, se as vacinas estariam causando
  |  uma suposta epidemia de autismo. Senti-me na obrigação de esclarecer o
  |  assunto.

h3#dilema O dilema

p Primeiro, antes de qualquer informação, gostaria que vocês se perguntassem:
  |  vocês preferem um filho autista, ou um filho #[strong morto]?

p Porque é isso que acontece com a maioria das crianças que não são vacinas. A
  |  suspensão das vacinas promove a volta de doenças mortais que estavam
  |  erradicadas, como o #[=""]
  a(href="https://seuhistory.com/noticias/movimento-antivacinas-trouxe-de-volta-uma-doenca-mortal"
    title="Movimento antivacinas trouxe de volta uma doença mortal.")
    | sarampo
  | , #[=""]
  a(href="http://www.bbc.com/portuguese/noticias/2014/02/140221_vacinas_doencas_dg"
    title="Movimento antivacina gera surto de doenças nos EUA.")
    | caxumba e coqueluche
  | .

blockquote
  p: code [update 2018-01-12]

  p Corrigindo uma  #[strong informação errada] no parágrafo acima: sarampo,
    |  caxumba e coqueluche #[strong não estavam erradicadas], apenas
    |  controladas e quase sem casos nos países ricos.

  p Erradicada está a #[=""]
    a(href="http://acervo.oglobo.globo.com/fatos-historicos/oms-declara-variola-erradicada-9837362")
      | varíola
    |  (por ora).

  p: code [/update]

p Então, mesmo que #[strong fosse] verdade, eu peço que todos coloquem a mão na
  |  consciência e pesem o que é “pior”.

h3#guerrilha Guerrilha de mercado

p Dada esta introdução, vamos ao assunto de fato.

p O caso que deu origem a este surto de teoria da conspiração antivacinas
  |  ocorreu em 1998, quando #[=""]
  a(href="https://pt.wikipedia.org/wiki/Andrew_Wakefield") Andrew Wakefield
  |  publicou uma pesquisa preliminar na revista #[=""]
  a(href="http://www.thelancet.com/") The Lancet
  |  descrevendo (apenas) 12 crianças que desenvolveram quadro de
  |  comportamentos autistas e inflamação intestinal.

p Wakefield disse que a característica em comum entre essas crianças seria
  |  vestígio de vírus de sarampo no corpo (nada a ver com metais pesados).
  |  Então ele levantou a #[strong hipótese] de haver um vínculo causal entre
  |  o quadro e a vacina #[=""]
  a(href="http://www.cva.ufrj.br/informacao/vacinas/mmr-v.html") tríplice viral
  | , que havia sido aplicada a 11 das crianças estudadas.

p Em 2004 o #[=""]
  a(href="http://www.nationalacademies.org/hmd/"
    title="US Institute of Medicine") US-IoM
  |  concluiu que #[strong não havia provas] de vínculo causal. Neste mesmo ano,
  |  o assistente de Wakefield revelou que o pesquisador havia
  |  #[strong mentido] em relação aos dados, e que #[strong não havia] vestígio
  |  de vírus do sarampo nas crianças afetadas. No ano seguinte Wakefield
  |  #[strong veio a público] admitir que havia mentido para “não prejudicar o
  |  estudo”.

p Em 2010 o #[=""]
  a(href="http://www.hcpc-uk.org/") Conselho Geral de Medicina do Reino Unido
  |  declarou Wakefield #[strong inapto] para o exercício da profissão,
  |  classificando seu comportamento como irresponsável e #[strong antiético].

p E por que diabos Wakefield fez isso? Em 1998 ele havia entrado com um pedido
  |  de patente de uma vacina concorrente da tríplice viral, e queria causar
  |  #[strong medo e pânico] para derrubar a concorrência e #[strong LUCRAR],
  |  a famosa prática criminosa do #[=""]
  a(href="https://pt.wikipedia.org/wiki/Medo,_incerteza_e_dúvida"
    title="Fear, Uncertainty and Doubt") FUD
  | .

p E até hoje, vinte anos depois, ainda há quem se deixe ludibriar por essa
  |  estratégia de #[em marketing] baseada em causar desconfiança e pânico com
  |  mentiras.

h3#epidemia Epidemia

p Por último, vamos falar dessa “epidemia” de autismo.

p Quando #[=""]
  a(href="https://pt.wikipedia.org/wiki/Leo_Kanner") Leo Kanner
  |  e #[=""]
  a(href="https://pt.wikipedia.org/wiki/Hans_Asperger") Hans Asperger
  |  começaram seus estudos sobre autismo em 1943, a relação de pessoas
  |  diagnosticadas com autismo foi dada como #[=""]
  u(title="O primeiro chute parece ter sido de 1:500.") 1:160
  |  (0,625%). Com o avanço dos conhecimentos sobre neurodiversidade, os
  |  especialistas perceberam que muitas pessoas estavam sendo
  |  #[strong subdiagnosticadas], ou seja, #[=""]
  strong havia muito mais casos de autismo não registrados
  | .

p Numa análise melhor, ali por volta da década de ’80, #[strong reajustaram]
  |  a proporção para 1:100 (1%).

p Mas o conhecimento sobre o assunto continuou evoluindo, e muitos outros casos
  |  que eram deixados sem tratamento por falta de identificação passaram a ser
  |  reconhecidos, #[strong corrigindo] a relação para 1:68 (1,47%) a partir do
  |  #[=""]
  a(href="https://www.psychiatry.org/psychiatrists/practice/dsm") DSM-5
  | .

p A expectativa é que, com o lançamento da #[=""]
  a(href="https://icd.who.int/dev11/l-m/en") CID-11
  |  e mais avanços na área, a relação suba para 1:30 (3,33%) até o final deste
  |  ano.

p Perceba que em momento algum eu disse que a relação aumentou de fato. Ela foi
  |  simplesmente reajustada, ou #[strong corrigida], de acordo com a evolução
  |  da informação e do conhecimento.

p O problema é que, #[strong manipulando as palavras] e até valendo-se de
  |  informações falsas, pessoas inescrupulosas dão a entender que há um
  |  crescente aumento nos casos dessa #[=""]
  a(href="http://entendendoautismo.com.br/artigo/autismo-nao-e-doenca-tea/"
    title="Autismo não é doença!")
    | “doença”
  | , uma “epidemia”. Até mesmo #[=""]
  a(href="https://estilo.uol.com.br/gravidez-e-filhos/noticias/redacao/2016/08/21/casos-de-autismo-sobem-para-um-a-cada-68-criancas-especialistas-explicam.htm"
    title="Alerta de informação mal passada‼️")
    | organizações ditas sérias
  |  de imprensa prestam esse #[strong desserviço] à sociedade.

p Sempre FUD, desinformação e pânico usados para manipular a opinião pública.

hr/

p#mais-info Mais informações na #[=""]
  a(href="http://www.bbc.com/portuguese/geral-40663622"
    title="A história que deu origem ao mito da ligação entre vacinas e autismo.")
    | BBC
  | .
