- var articles = new Array

each yearDir, yearSlug in public.montegasppa
  if yearDir
    each monthDir, monthSlug in yearDir
      if monthDir._data
        each page, slug in monthDir._data
          if (!page.hidden)
            - var article = {}
            - article.url = public.montegasppa._data.blog.url + yearSlug + "/" + monthSlug + "/" + slug + ".html"
            - article.title = "Reflexões… :: " + page.title
            - article.content = page.content
            - articles.unshift(article)

each article in articles.slice(0, 3)
  a(class=["col-md-4", "mg-nou"] href=article.url role="button")
    div(class=["panel", "panel-default"])
      .panel-heading
        h3.mg-title!= article.title
      .panel-body
        p.lead!= article.content

- articles = new Array

each yearDir, yearSlug in public.kodumaro
  if yearDir
    each monthDir, monthSlug in yearDir
      if monthDir._data
        each page, slug in monthDir._data
          if (!page.hidden)
            - var article = {}
            - article.url = public.kodumaro._data.blog.url + yearSlug + "/" + monthSlug + "/" + slug + ".html"
            - article.title = public.kodumaro._data.blog.title + " :: " + page.title
            - article.content = page.content
            - articles.unshift(article)

each article in articles.slice(0, 3)
  a(class=["col-md-4", "mg-nou"] href=article.url role="button")
    div(class=["panel", "panel-default"])
      .panel-heading
        h3.mg-title!= article.title
      .panel-body
        p.lead!= article.content
