include ../../../_widgets/list-group-item.pug
img.pull-right(src=image alt="Máquina de Turing")

p.mg-first A #[=""]
  a(href="https://pt.wikipedia.org/wiki/Máquina_de_Turing")
    | máquina de Turing
  |  é um conceito matemático teórico criado por #[=""]
  a(href="https://www.ebiografia.com/alan_turing/") Alan Turing
  |  que consiste em um modelo abstrato de uma máquina de estado capaz de
  |  executar tarefas genéricas.

p A máquina de Turing é formada por quatro partes:

ol
  li Uma fita dividida em células, cada uma representando uma instrução a ser
    |  executada. O tamanho da fita é o suficiente para representar a tarefa
    |  pretendida.
  li Um registro de estados de tamanho suficiente para executar a tarefa
    |  pretendida.
  li Um cabeçote que lê as instruções da fita e as executa de acordo com um
    |  alfabeto conhecido.
  li Um alfabeto conhecido com instruções que define ações como mover a fita ou
    |  alterar estados do registro.

p Podemos traçar um paralelo com o computador moderno: a fita são as instruções
  |  dadas ao processador, o registro de estados é a memória, o cabeçote é o
  |  processador e o alfabeto é o microprograma do processador.

p
  a(href="https://esolangs.org/wiki/Brainfuck") Brainfuck
  |  é uma #[=""]
  a(href="https://esolangs.org/wiki/Main_Page")
    | linguagem de programação esotérica
  |  que implementa a máquina de Turing de forma extrema.

p Recomendo o #[=""]
  a(href="https://pt.wikipedia.org/wiki/Brainfuck") artigo na Wikipédia
  | , que explica muito bem.

p Vamos usar #[=""]
  a(href="http://www.swi-prolog.org/") Prolog
  |  pra implementar o interpretador.

h3 Lista de conteúdo

- const articlesPrefix = `${public.kodumaro.blog.url}2017/12/brainfuck`
- const filesPrefix = `${public.main.host}/misc/brainfuck`

+ul
  a(href=`${articlesPrefix}-1.html`): +li Parte 1: A fita
  a(href=`${articlesPrefix}-2.html`): +li Parte 2: A memória
  a(href=`${articlesPrefix}-3.html`): +li Parte 3: Cabeçote e microprograma
  a(href=`${articlesPrefix}-4.html`): +li Parte 4: Finalização

+ul
  a(href=`${filesPrefix}/tape.pl`):      +li: code tape.pl
  a(href=`${filesPrefix}/test.tape`):    +li: code test.tape
  a(href=`${filesPrefix}/utils.pl`):     +li: code utils.pl
  a(href=`${filesPrefix}/memory.pl`):    +li: code memory.pl
  a(href=`${filesPrefix}/parser.pl`):    +li: code parser.pl
  a(href=`${filesPrefix}/brainfuck.pl`): +li: code brainfuck.pl
  a(href=`${filesPrefix}/hello.bf`):     +li: code hello.bf
