include ./_widgets/list-group-item.pug

div(class=["panel", "panel-default"])
  .panel-heading
    h2.mg-title Apresentação

  .panel-body
    p.mg-first Meu nome é #[=""]
      a(href=public.author.url) #{public.author.name}
      |  e este é meu #[em site] pessoal.

    p A intenção deste espaço é concentrar coisas de minha extinta página, como
      |  Konsulta Vortaro, e trazer meu #[em blog] #[=""]
      a(href="http://montegasppa.blogspot.com.br/")
        | Reflexões de Monte Gasppa e Giulia C.
      |  para #[=""]
      a(href=public.montegasppa.blog.url) cá
      | .

    p Também pretendia #[em reblogar] as publicações do #[=""]
      a(href="http://kodumaro.blogspot.com.br/")!= public.kodumaro.blog.title
      |  aqui, sem desativar o #[em blog] original, mas limitações na interface
      |  do #[=""]
      a(href="https://www.blogger.com/") Blogger.com
      |  me obrigaram a transferi-lo também pra #[=""]
      a(href=public.kodumaro.blog.url) cá
      | .

    p Os espaços disponíveis aqui são:

    +ul
      a(href=public.montegasppa.blog.url)
        +li!= public.montegasppa.blog.title
      a(href=public.kodumaro.blog.url)
        +li!= public.kodumaro.blog.title
