extends ../_layout.pug

block blog-head
  title #{public.kodumaro.blog.title} :: #{title}
  meta(property="og:site_name" content=public.kodumaro.blog.title)/
  meta(property="og:title" content=title)/
  if current && current.path
    meta(property="og:url"
         content=`${public.main.host}/${current.path.slice(2).join("/")}.html`)/
  if tags
    meta(property="og:type" content="article")/
    meta(property="article:tag" content=tags.join(", "))/
  if author
    meta(property="article:author" content=author)/
  if image
    meta(property="og:image" content=`${public.main.host}${image}`)/
  link(rel="alternate" type="application/atom+xml" title=public.kodumaro.blog.title
       href=public.kodumaro.blog.url+"feed.xml")/
  link(rel="stylesheet" href="/css/kodumaro.css")/
  link(rel="icon" href="/img/kodumaro.ico")/
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")

block append nav-bar
  li(class={active: home}): a(href=public.kodumaro.blog.url)!= public.kodumaro.blog.title
  unless home
    li.active: a(href=".") !{title}

block main-container
  .panel.panel-default
    .panel-heading
      h2.mg-title !{public.kodumaro.blog.title} :: !{title}
      if release
        - let release_ = new Date(`${release}T12:00`)
        - let month = release_.getMonth()
        h6.pull-right Publicado em #{release_.getDate()} de #{public.monthSet[month]}, #{release_.getFullYear()}
      h6!= public.kodumaro.blog.subtitle

    .panel-body
      != yield

    if tags
      .panel: p.text-right
        each tag, index in tags
          case index
            when 0
              small.tag !{tag}
            default
              |  | #[=""]
              small.tag !{tag}

  if current.source !== 'index'
    .panel.panel-default
      .panel-body
        #disqus_thread
        script(language="javascript").
          var disqus_config = function() {
            this.page.url = `!{public.main.host}/!{current.path.slice(2).join("/")}.html`
            this.page.identifier = `!{current.path.slice(2).join(".")}`
            this.page.title = '!{title}'
          }
        noscript Por favor habilite o JavaScript para ver os #[=""]
          a(href="https://disqus.com/?ref_noscript")
            | comentários do Disqus
          | .

block footer
  p.pull-left
    a(href=`${public.kodumaro.blog.url}feed.xml` target="_blank" type="application/atom+xml")
     img(src="/img/rss.png" alt="feed")

  p.small
    if author
      | Autor: #{author} &nbsp;
    else
      | !{public.kodumaro.blog.title} &nbsp;
    a(rel="license" href=public.license.url)
      img(
        alt=`[${public.license.name}]`
        src=public.license.image
        style={"border-width" :"0"})

block append final-scripts
  if current.source !== 'index'
    script(src="/js/kodumaro.disqus.js")
  script#dsq-count-scr(src="//kodumaro.disqus.com/count.js" async=true)
