- let blogtitle = public.kodumaro.blog.title

img.pull-right(src="/img/kodumaro.jpg" alt="Logo")

p.mg-first Hi there!

p !{blogtitle} is a colaboration between three friend programmers: #[=""]
  a(href="https://claudiotorcato.wordpress.com/") Cláudio Torcato
  | , #[=""]
  a(href=public.montegasppa.blog.url) Rodrigo Cacilhas
  | , e #[=""]
  a(href="http://waltercruz.com/") Walter Cruz
  | , in an effort to offer you some interesting tips about programming.

p The topics vary from beginner to pro, from basic programming concepts to
  |  severial different language samples, in a light and easy wording.

p We hope the posts could be useful and enlightening, and we’re waiting for your
  |  return, in order to improve !{blogtitle} everyday.

p Without further ado, be presented your medium: #[=""]
  a(href=public.kodumaro.blog.url)!= blogtitle
  | !

p: small
  | Original post #[=""]
  a(href="http://kodumaro.blogspot.com.br/2007/03/saluton.html") here
  | .

script(src="//cacilhas.info/js/collapse-expand.js")

.collapse-expand-buttons
  a.label.label-default(onClick="expandAll()") Open all
  | &nbsp;
  a.label.label-default(onClick="collapseAll()") Close all


-
  let years = _(public.kodumaro.months).groupBy(
    month => month.date.getYear()
  )
  let lastYear = _.last(_.keys(years).sort())

+ul
  ul
    each year in _.keys(years).sort().reverse()
      -
        let months = years[year]
        let total = _(months).reduce(
          (memo, month) => memo + _.keys(month.dir).length, 0
        )

      li.list-group-item: details(open=(year == lastYear))
        summary
          != parseInt(year) + 1900
          span.badge
            != total
        ul
          each month in months
            li.list-group-item: details(open)
              summary
                != month.title
                span.badge
                  != _.keys(month.dir).length
              ul
                each page, slug in month.dir
                  a(href=`${month.slug}/${slug}.html`): +li2
                    != page.title

  a(href="http://kodumaro.blogspot.com.br/")
    li.list-group-item
      img(src="/img/blogger.png" alt="" style={width: "24px", height: "24px"})
      |  Previous posts
  a(href="https://twitter.com/kodumaro")
    li.list-group-item
      img(src="/img/twitter.png" alt="" style={width: "24px", height: "24px"})
      |  Kodumaro on Twitter
