extends ../_layout.jade

block blog-head
  title Reflexões… :: #{title}
  link(rel="alternate" type="application/atom+xml" title=public.montegasppa._data.blog.title
       href=public.montegasppa._data.blog.url+"feed.xml")/
  link(rel="stylesheet" href="/css/montegasppa.css")/
  link(rel="icon" href="/img/montegasppa.ico")/

block append nav-bar
  li(class={active: home}): a(href=public.montegasppa._data.blog.url) Prólogo
  if (!home)
    li.active: a(href=".") Reflexões… :: !{title}

block main-container
  div(class=["panel", "panel-default"])
    .panel-heading
      h2.mg-title Reflexões… :: !{title}
      if release
        h6#release.pull-right= release
      h6!= public.montegasppa._data.blog.subtitle

    .panel-body
      != yield

block footer
  p.small
    a(href="/montegasppa/author.html")
      | !{public.montegasppa._data.blog.title} &nbsp;
    a(rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.pt")
      img(alt="[CC-BY 4.0]" src="https://i.creativecommons.org/l/by/4.0/80x15.png"
          style={"border-width" :"0"})
