.col-md-4
  .list-group
    h3.mg-title.list-group-item.active Sitemap
    a.list-group-item.small(href=`${public.main.host}/`) Home
    a.list-group-item.small(href=`${public.main.host}/about.html`) About
    a.list-group-item.small(href=`${public.main.host}/copying.html`) License
    a.list-group-item.small(href=public.montegasppa.blog.url)
      != public.montegasppa.blog.title
    a.list-group-item.small(href=public.kodumaro.blog.url)
      != public.kodumaro.blog.title
    a.list-group-item.small(href=public.misc.url target="_blank")
      != public.misc.title
