img.pull-right(src=image alt="hiponga")

blockquote
  p Artigo de #[=""]
    a(href=ref_urls.author)!= author
    |  sobre armadilhas do “caminho espiritual”, originalmente publicado em
    |  #[=""]
    a(href=ref_urls.original_post)
      | HighExistence
    | .

  p Preferi traduzir “#[em shadow aspects]” como “aspectos de sobra” em vez de
    |  “aspectos sobrios” para não perder a referência ao conceito psicológico
    |  da #[=""]
    a(href="http://cacilhas.info/montegasppa/2016/08/shadow.html") sombra
    | .

  p Minha única discordância do artigo é quanto às conclusões sobre
    |  Capitalismo: !{author} atribui ao Capitalismo conquistas que
    |  #[strong não] são do Capitalismo para provar seu ponto. Sobre isso, leia
    |  #[=""]
    a(href="http://cacilhas.info/montegasppa/2017/12/capitalismo.html")
      | Dez modos como o capitalismo nega ou tira a sua liberdade
    | .

hr/

p.mg-first: strong Ninguém nunca me disse que a espiritualidade poderia ser uma
  |  armadilha de auto-sabotagem.

p Passei uns três anos lendo sobre ensinamentos espirituais e incorporando-os
  |  em minha vida antes de aprender que #[=""]
  strong a espiritualidade tem um lado sombrio
  | .

p Naturalmente, fiquei surpreso. Eu me senti meio traído.

p: em Como algo que parecia tão puro e bom poderia ser prejudicial?

p A resposta tem a ver com algo que os psicólogos chamam de #[=""]
  a(href="http://highexistence.com/spiritual-bypassing-how-spirituality-sabotaged-my-growth/")
    | desvio espiritual
  | . No início dos anos 80, o psicólogo #[=""]
  a(href="https://en.wikipedia.org/wiki/John_Welwood") John Welwood
  |  cunhou o termo “desvio espiritual” para se referir ao uso de práticas e
  |  crenças espirituais com o intuito de evitar confrontar sentimentos
  |  desconfortáveis, ferimentos não resolvidos e necessidades emocionais e
  |  psicológicas fundamentais.

p De acordo com o psicoterapeuta integral #[=""]
  a(href="http://robertmasters.com/") Robert Augustus Masters
  | , o desvio espiritual faz com que nos retiremos de nós mesmos e dos outros,
  |  para nos escondermos atrás de um tipo de véu espiritual de crenças e
  |  práticas metafísicas. #[=""]
  a(href="http://realitysandwich.com/74388/spiritual_bypassing/") Ele diz
  |  que “não apenas nos distancia de nossa dor e questões pessoais difíceis,
  |  mas também de nossa própria #[=""]
  a(href="https://store.highexistence.com/pages/30-challenges")
    | espiritualidade autêntica
  | , nos deixando em um limbo metafísico, uma zona de delicadeza exagerada,
  |  bondade e superficialidade”.

h3 Realizações dolorosas: meu próprio desvio espiritual

p No livro inovador de Robert August Masters, #[=""]
  a(href="https://www.amazon.com/Spiritual-Bypassing-Spirituality-Disconnects-Matters-ebook/dp/B003WUYPJC/ref=as_li_ss_tl?s=books&ie=UTF8&qid=1462122692&sr=1-1&keywords=spiritual+bypassing&linkCode=sl1&tag=bates0b-20&linkId=e8d0cde2e58f6dc6284931e35b07ec25")
    em Spiritual Bypassing: When Spirituality Disconnects Us from What Really
      |  Matters
  | , ele escreve:

blockquote
  p Os aspectos do desvio espiritual incluem distanciamento exagerado,
    |  entorpecimento e repressão emocional, ênfase excessiva no positivo,
    |  fobia de raiva, compaixão cega ou excessivamente tolerante, limites
    |  fracos ou porosos demais, desenvolvimento desequilibrado (inteligência
    |  cognitiva frequentemente muito à frente da inteligência emocional e
    |  moral), julgamento debilitante sobre a negatividade ou o lado sombrio,
    |  a desvalorização do relativo pessoal ao espiritual, e delírios de ter
    |  chegado a um nível mais alto de ser.

.text-center.quote: a(href="http://highexistence.com/ultra-spiritual-hilarious-video-satirizes-shadow-tendencies-of-spiritual-tendencies/")
  img(src="/img/bobagem-espiritual/spiritual-beast.jpg"
      alt="Minha vibração é tão alta, cara. Meus chacras estão tão alinhados. Poooorra, sou uma fera espiritual, mano.")

p Eu encontrei o conceito de desvio espiritual pela primeira vez no trabalho de
  |  Mestrado. Embora eu estivesse relutante em admitir isso, eu imediatamente
  |  soube em algum nível que esse conceito se aplicava a mim.

p: strong Enquanto eu continuava a refletir sobre o desvio espiritual, notei
  |  cada vez mais #[=""]
  a(href="https://pt.wikipedia.org/wiki/Sombra_(psicologia)")
    | aspectos de sombra
  |  da espiritualidade, e percebi que inadvertidamente eu havia encenado
  |  muitos deles de uma vez ou outra.

p Apesar de dolorosas, essas foram algumas das realizações mais importantes que
  |  eu já tive. Eles me ajudaram a parar de usar uma #[=""]
  a(href="http://highexistence.com/ultra-spiritual-hilarious-video-satirizes-shadow-tendencies-of-spiritual-tendencies/")
    | forma distorcida
  |  de "espiritualidade" como um #[=""]
  a(href="https://www.youtube.com/watch?v=1kDso5ElFRg") impulso egoico
  |  e a começar a assumir uma responsabilidade maior por abordar minhas
  |  necessidades psicológicas e os problemas que surgem em minha vida.

h3 10 coisas “espirituais” que as pessoas fazem que sabotam seu crescimento

p A melhor maneira de entender o desvio espiritual é através de exemplos, então
  |  agora #[strong é hora de um amor duro].

p Eu vou entrar em detalhes para descrever dez tendências de sombra específicas
  |  de pessoas espirituais.

p: strong Cuidado: Alguns destes casos podem chegar muito perto de você.

p Lembre-se: você não precisa sentir vergonha de admitir que alguns dos itens
  |  desta lista se aplicam a você. Suspeito que alguns deles se aplicam
  |  a todos que já se interessaram pela espiritualidade. #[=""]
  strong A maioria deles se aplica a mim em algum momento, e alguns ainda estão
    |  trabalhando.

h3 1️⃣ Participar de atividades “espirituais” para se sentir superior às outras
  |  pessoas.

p Este é provavelmente um dos aspectos de sombra mais difundidos da
  |  espiritualidade, e assume muitas formas. Algumas pessoas se sentem
  |  superiores porque leem #[=""]
  a(href="http://highexistence.com/alan-watts-human-nature/") Alan Watts
  | . Ou andar de bicicleta para o trabalho. Ou evite assistir TV. Ou coma uma
  |  dieta vegetariana. Ou use cristais. Ou visite os templos. Ou pratique yoga
  |  ou meditação. Ou tome substâncias psicodélicas.

.text-center.quote: a(href="http://highexistence.com/ultra-spiritual-hilarious-video-satirizes-shadow-tendencies-of-spiritual-tendencies/")
  | Tenta ser esclarecido… apenas para se sentir superior aos outros.

p Note que não estou falando sobre o valor de participar dessas atividades.
  |  Eu amo Alan Watts, respeito os vegetarianos e acho que #[=""]
  a(href="http://highexistence.com/26-scientifically-proven-superhuman-benefits-of-meditation/")
    | a meditação é bastante benéfica
  | . O que eu estou dizendo é que é alarmantemente fácil permitir que suas
  |  ideias e práticas espirituais se tornem uma #[strong armadilha do ego] –
  |  acreditar que você é muito melhor e mais esclarecido do que todos as
  |  pessoas “gado”, porque você faz toda essa coisa radical de #[=""]
  a(href="https://twitter.com/search?f=tweets&q=%23woke") #acordar
  |. Em última análise, esse tipo de atitude em relação à "espiritualidade" não
  |  é melhor do que acreditar que você é melhor do que todos os outros por
  |  ser democrata ou fã do Lakers. Essa disfunção, na verdade, inibe
  |  a espiritualidade genuína, fazendo com que nos concentremos em outras
  |  pessoas, em vez de cultivar um #[=""]
  a(href="http://highexistence.com/secular-spirituality-surrender-to-sacred-yosemite/")
    | senso de conexão
  |  com o cosmos e nos sentirmos #[=""]
  a(href="http://highexistence.com/existence-should-astound-us-a-meditation-on-the-ineffable-magnificent-mystery-of-being-itself/")
    | maravilhados
  |  com a #[=""]
  a(href="https://www.youtube.com/watch?v=2ctu8NYJLkk") sublime grandeza
  |  da existência.

h3 2️⃣ Usar a “espiritualidade” como justificativa para não assumir a
  |  responsabilidade por suas ações.

p A essência da questão é que é muito fácil distorcer certos mantras ou ideias
  |  espirituais para justificar ser irresponsável ou desconfiável.

p
  strong “As coisas são como são” ou “o universo já é perfeito” ou “tudo
    |  acontece por um motivo”. Todos podem funcionar como excelentes
    |  justificativas para não fazer muita coisa e nunca examinar realmente
    |  o comportamento de alguém.
  |  Não estou falando sobrea verdade ou infidelidade das declarações acima.
  |  Só estou dizendo que, se você está sempre atrasado para as consultas,
  |  se negligencia frequentemente seus relacionamentos íntimos, e seus colegas
  |  de quarto não podem contar com você para pagar o aluguel, você pode talvez
  |  parar de dizer a si mesmo: “que seja cara, a realidade é uma ilusão de
  |  qualquer maneira” e começa a se tornar alguém em que os outros podem
  |  confiar.

.text-center.quote: a(href="http://highexistence.com/spiritual-bypassing-how-spirituality-sabotaged-my-growth/")
  | Acredita que tudo acontece por uma razão… não paga o aluguel há três meses.

p Na mesma linha, é surpreendentemente fácil enganar a si mesmo pensando que,
  |  sempre que alguém tem um problema com seu comportamento, é porque essa
  |  pessoa “não está honrando minha verdade” ou “só precisa crescer
  |  espiritualmente”. É muito mais difícil reconhecer os momentos quando
  |  agimos de modo impetuoso, egoísta ou impensado e infligimos sofrimento
  |  a outra pessoa. É muito mais difícil admitir que também estamos longe de
  |  ser perfeitos e que crescimento e aprendizado são processos intermináveis.

h3 3️⃣ Adotar novos #[em hobbies], interesses e crenças simplesmente porque
  |  eles são a última moda “espiritual”.

p Seres humanos querem se encaixar em algum lugar. Todos nós temos uma #[=""]
  a(href="http://highexistence.com/why-politics-and-religion-make-everyone-crazy/")
    | profunda necessidade de sentir que pertencemos a alguma coisa
  | . E formamos grupos de todos os tipos para saciar essa necessidade.
  |  Espiritualidade é uma área de interesse em torno da qual as pessoas formam
  |  todos os tipos de grupos. Isso é potencialmente uma grande coisa, mas
  |  também tem um aspecto da sombra.

.text-center.quote: a(href="http://highexistence.com/when-to-take-ayahuasca-fashionable-path-awakening/")
  | Pratica meditação e bebe oasca… porque todos os garotos legais fazem isso.

p Para muitas pessoas, “espiritualidade” é pouco mais que uma coisa que muitas
  |  pessoas parecem se importar. Essas pessoas têm a ideia de que querem
  |  entrar na onda espiritual, então começam a praticar yoga, usar itens de
  |  moda Nova Era, ir a festivais de música, #[=""]
  a(href="http://highexistence.com/when-to-take-ayahuasca-fashionable-path-awakening/")
    | beber oasca
  | , etc., e dizem a si mesmos que isso os torna “espirituais”. Esses
  |  “#[strong espiritualistas]” diluem o significado da genuína investigação
  |  espiritual, contemplação, experiência e realização. Eles também, em minha
  |  experiência, tendem a ser as pessoas “espirituais” que usam
  |  a “espiritualidade” como uma razão para se sentirem superiores aos outros.

h3 4️⃣ Julgar os outros por expressarem raiva ou outras emoções fortes, mesmo
  |  quando é necessário.

p Este é um dos primeiros padrões que notei em mim mesmo depois de ser
  |  apresentado ao desvio espiritual. Percebi que quando as pessoas ficavam
  |  chateadas ou com raiva de mim, minha resposta era dizer coisas do tipo:
  |  “ficar com raiva não ajuda em nada” ou “acho que teríamos menos problemas
  |  se pudéssemos permanecer calmos”. Internamente, eu julgue a outra pessoa
  |  em silêncio, pensando: “se ao menos eles fossem mais esclarecidos,
  |  poderíamos evitar esse drama”. Em muitas situações, essa era a minha
  |  maneira de evitar problemas profundos que precisavam ser resolvidos.

.text-center.quote: a(href="https://store.highexistence.com/products/30-challenges")
  | Julga os colegas de quarto por ficarem com raiva… por não pagar três meses
  |  de aluguel.

p Quando você se interessa por espiritualidade, uma das primeiras citações que
  |  você provavelmente encontrará é: “segurar a raiva é como pegar um carvão
  |  quente com a intenção de prejudicar o outro; você é quem acaba sendo queimado”.

p Esta citação é comumente atribuída erroneamente ao Buda, embora na verdade
  |  seja uma #[=""]
  a(href="https://fakebuddhaquotes.com/holding-on-to-anger-is-like-grasping-a-hot-coal-with-the-intent-of-harming-another-you-end-up-getting-burned/")
    | paráfrase
  |  de #[=""]
  a(href="https://pt.wikipedia.org/wiki/Budagosa") Budagosa
  | , século V. O ponto sutil da citação é que não devemos nos apegar à raiva;
  |  nós deveríamos sentir isso, expressá-lo se necessário, então deixá-lo ir.
  |  No entanto, é muito fácil para o leigo assumir que isso significa que
  |  a raiva é, de qualquer forma, um sinal de que alguém é insensato, não
  |  espiritual. Isso é falso. #[=""]
  strong A raiva é uma emoção humana natural e uma resposta perfeitamente
    |  justificável para muitas situações.
  |  Muitas vezes, a raiva é um indicador de que há questões sérias que
  |  precisam ser consideradas dentro de si ou nos relacionamentos.

p Ironicamente, muitas pessoas espirituais reprimem todas as emoções
  |  “não espirituais” e aumentam artificialmente as emoções/traços
  |  “espirituais”, como compaixão, bondade e equanimidade. Isso leva
  |  à ausência de autenticidade. A pessoa se esforça para se apresentar
  |  constantemente como calma, gentil, agradável e em um estado de paz
  |  perpétua, e acaba por parecer e se sentir uma fraude.

p 5️⃣ Usar a “espiritualidade” como justificativa para o uso excessivo de
  |  drogas.

p Muitas pessoas (inclusive eu) acreditam que as drogas psicodélicas podem
  |  #[=""]
  a(href="http://highexistence.com/gift-of-the-gods-why-visionary-plant-medicines-deserves-reverence-and-caution/")
    | causar experiências místicas
  |  e melhorar a #[=""]
  a(href="http://highexistence.com/secular-spirituality-surrender-to-sacred-yosemite/")
    | espiritualidade (secular)
  | . Tudo muito bem, mas algumas pessoas levam isso longe demais, usando
  |  como uma maneira de justificar os padrões autodestrutivos do uso de drogas
  |  e de fechar os olhos para os lados obscuros de várias substâncias.

.text-center.quote: a(href="http://highexistence.com/carl-sagans-profound-essay-on-why-cannabis-consciousness-is-desperately-needed-in-this-mad-and-dangerous-world/")
  | Realiza a “cerimônia sagrada da cannabis”… 17 vezes ao dia.

p Nos casos mais extremos, as pessoas “espirituais” acabam “realizando
  |  cerimônias de cannabis” durante todas as suas horas de vigília; tomam
  |  substâncias psicodélicas com muita frequência ou em contextos inadequados;
  |  e negar completamente que essas substâncias tenham quaisquer efeitos
  |  negativos. Agora, a “Alta Existência” tende a ser pró-psicodélica,
  |  mas deixe-me dar a você diretamente: #[=""]
  strong Psicodélicos, incluindo a cannabis, têm um #[=""]
    a(href="http://highexistence.com/5-psychedelic-myths-bad-trip/")
      | lado obscuro
    |  definido.
  |  Se você for irresponsável ou simplesmente infeliz, as substâncias
  |  psicodélicas mais fortes, como o LSD ou os cogumelos com psilocibina,
  |  podem ocasionar experiências traumáticas com ramificações negativas
  |  a longo prazo. E a cannabis, uma substância psicodélica leve, é uma droga
  |  sedutora para formação de hábito que vai sutilmente enevoar sua mente e
  |  corroer sua motivação se você se entregar demais, com muita frequência.
  |  Respeite as substâncias e #[=""]
  a(href="http://highexistence.com/5-psychedelic-myths-bad-trip/")
    | utilize-as com sabedoria
  | .

h3 6️⃣ Supervalorizar a “positividade” para evitar olhar os problemas em suas
  |  vidas e no mundo.

p “Apenas seja positivo!” é frequentemente empregado como um mecanismo de
  |  deflexão por pessoas “espirituais” que preferem não fazer o difícil
  |  trabalho de confrontar seus próprios problemas internos, ferimentos e
  |  bagagens, muito menos os problemas do mundo. O movimento de “positividade”
  |  explodiu na cultura ocidental nos últimos anos. A Internet está
  |  transbordando de #[em memes] e artigos aparentemente intermináveis,
  |  repetindo as mesmas mensagens vazias: “pense em pensamentos positivos!”,
  |  “apenas seja positivo!”, “não se concentre no negativo!”

.text-center.quote: a(href="http://highexistence.com/vinay-gupta-the-man-who-is-constantly-trying-to-solve-humanitys-largest-problems-and-save-all-of-our-lives/")
  | 20 milhões de pessoas morrem de pobreza por ano no planeta… apenas pense
  |  positivo, bicho, namastê ❤️

p Embora haja certamente valor em cultivar a gratidão pelas muitas maravilhas
  |  da experiência humana, esse movimento parece negligenciar algo crítico:
  |  #[=""]
  strong os aspectos mais sombrios da vida não desaparecem simplesmente por
    |  serem ignorados
  | . De fato, muitos problemas em nossas vidas individuais e em escala global
  |  parecem apenas piorar ou complicar quando são ignorados. Da mesma forma
  |  que pareceria absurdo oferecer a uma viciada em heroína a frase “apenas
  |  pense positivo” Como uma solução para seu problema, é absurdo acreditar
  |  que o pensamento positivo oferece qualquer tipo de solução para grandes
  |  questões globais como a mudança climática, pobreza, agricultura industrial
  |  e #[=""]
  a(href="https://www.ted.com/talks/sam_harris_can_we_build_ai_without_losing_control_over_it")
    | riscos existenciais
  | .

p Não quer dizer que devemos levar os problemas do mundo nos nossos ombros e
|  nos sentirmos mal com eles o tempo todo. É saudável reconhecer e sentir-se
|  otimista em relação ao fato de que, de muitas maneiras importantes, #[=""]
a(href="http://www.vox.com/2014/11/24/7272929/charts-thankful")
  | o mundo está melhorando
| . No entanto, precisamos equilibrar esse otimismo com a disposição de
|  confrontar questões reais em nossa vida pessoal, em nossas comunidades e
|  em nosso mundo.

p: strong Se você está pronto para se apropriar de sua vida, construir hábitos
  |  significativos e aceitar sua existência, considere seguir nosso #[=""]
  a(href="https://store.highexistence.com/pages/30-challenges")
    | curso de obstáculo de auto-realização
  | .

h3 7️⃣ Reprimir emoções desagradáveis que não se encaixam em sua auto-narrativa
  |  “espiritual”.

blockquote
  p: De jeito algum eu posso ficar deprimido, solitário, assustado ou ansioso.
  |  Eu amo muito a vida, e sou [#[em ze]n / sábio / esclarecido] demais para
  |  permitir que isso aconteça.

p Deparei-me com essa questão quando #[=""]
  a(href="http://highexistence.com/11-takeaways-from-8-months-of-unemployed-nomadism/")
    | me mudei para a Coreia do Sul
  |  para ensinar inglês por um ano. Eu pensei que tinha cultivado um frio
  |  imperturbável, uma habilidade de Lao Tzu para #[=""]
  a(href="http://highexistence.com/how-to-not-give-a-fuck-like-a-zen-master/")
    | “ir com o fluxo”
  |  e fluir, como uma boia, sobre as ondas de subida e descida do destino.

.text-center.quote: a(href="http://highexistence.com/5-anger-management-techniques-to-tame-your-inner-tiger/")
  | Na verdade se sente assustado(a) e com raiva… finge não se sentir assim
  |  porque isso não é espiritual.

p
  strong Então eu experimentei choque cultural, solidão esmagadora e saudade
    |  aguda, e eu tive que admitir para mim mesmo que eu não era algum tipo de
    |  mestre #[em zen] afinal.
  |  Ou melhor, eu tinha que perceber que a capacidade de “ir com o fluxo” e
  |  aceitar o que está acontecendo #[em é] perenemente valiosa, mas às vezes
  |  isso significa aceitar que você se sente como uma pilha de merda fumegante.

p É fácil iludir-se em acreditar que a espiritualidade fará a vida parecer
  |  infinitamente fluida sobre uma nuvem, mas, na prática, esse não é assim.
  |  A vida ainda está cheia de sofrimento e, para realmente crescer e aprender
  |  com nossa experiência, precisamos ser honestos com nós mesmos sobre o que
  |  estamos sentindo e nos deixar sentir plenamente. No meu caso, meu desejo
  |  de ser sempre “#[em zen]”, “ir com o fluxo” e projetar uma imagem de paz
  |  interior para mim e para os outros me impediu de ver a verdade de várias
  |  situações/experiências e assumir a responsabilidade de lidar com eles.

h3 8️⃣ Sentir uma aversão profunda e auto-aversão quando confrontado com sua
  |  sombra.

p Eu percebi isso em mim rapidamente depois de aprender sobre o desvio
  |  espiritual. Vi que minha imagem narcisista de mim mesmo como uma pessoa
  |  sábia que alcançara realizações “mais altas” estava causando uma
  |  quantidade ridícula de dissonância cognitiva. Julguei-me sarcasticamente
  |  e senti uma culpa colossal e esmagadora sobre quaisquer decisões menos
  |  virtuosas.

p Quando você se interessa por espiritualidade, é fácil idolatrar pessoas como
  |  Buda ou Dalai Lama, e acreditar que essas pessoas são seres humanos
  |  perfeitos que sempre agem com total consciência e compaixão. Na verdade,
  |  isso quase certamente é falso. Mesmo que seja verdade que alguns humanos
  |  atingem um nível de realização no qual eles defendem “ação correta” em
  |  todas as circunstâncias, precisamos reconhecer que isso é reservado para
  |  #[em muito] poucos. Eu pessoalmente suspeito que isso não existe.

p
  strong Na verdade, somos todos seres falíveis e todos nós vamos cometer erros.
  |  O baralho está contra nós. É praticamente impossível viver até algumas
  |  semanas de vida humana adulta sem cometer alguns erros, mesmo que apenas
  |  pequenos. Ao longo dos anos, haverá grandes erros. Isso acontece com todos
  |  nós, mas tudo bem. Perdoe a si mesmo. Tudo o que você pode fazer é
  |  aprender com seus erros e se esforçar para fazer melhor no futuro.

.text-center.quote: a(href="http://highexistence.com/embrace-your-personal-apocalypse-if-you-want-to-evolve/")
  | Acredita ser O(A) #Acordado(a) e Sábio(a)… entra em colapso ao perceber que
  |  ferrou com o(a) colega de quarto por meses.

p Paradoxalmente, a lição aparentemente espiritual de auto-perdão pode ser
  |  difícil de internalizar especialmente para pessoas interessadas em
  |  espiritualidade. Os ensinamentos espirituais podem deixar-lo(a) com ideais
  |  estratosfericamente altos que resultam em imensa culpa e auto-aversão
  |  quando falha em viver de acordo com eles. Esta é uma das principais razões
  |  pelas quais é tão comum que pessoas espirituais fujam à responsabilidade
  |  – porque ser honesto sobre suas deficiências seria muito doloroso.
  |  Ironicamente, #[em devemos] ser honestos conosco mesmos sobre nossos erros,
  |  a fim de aprender com eles e nos tornarmos versões mais autoconscientes e
  |  compassivas de nós mesmos. Apenas lembre-se: #[=""]
  strong você é apenas humano. Não há problema em cometer erros. Realmente,
    |  tudo bem. Mas admita para si mesmo quando cometeu um erro e aprenda com
    |  ele.

h3 9️⃣ Colocar-se em situações ruins devido à tolerância excessiva e uma recusa
  |  em julgar as pessoas.

p Este sou eu, 100%. Por muito tempo, levei muito a sério a ideia de que todo
  |  ser humano merece compaixão e gentileza. Hoje não #[em discordo] dessa
  |  ideia, mas percebi que existem inúmeras situações quando outras
  |  considerações devem substituir temporariamente meu desejo de tratar todos
  |  os outros com compaixão.

p Em vários países estrangeiros, encontrei-me em situações de potencial #[=""]
  |  #[strong ameaça à vida], porque confiava excessivamente em pessoas que não
  |  conhecia ou eu era muito gentis com pessoas que eu deveria reconhecer como
  |  perigosas. Felizmente, nunca me feri nessas situações, mas fui roubado e
  |  enrolado várias vezes. Em todos os casos, eu queria acreditar que as
  |  pessoas com quem eu estava interagindo eram “boas” de coração e me
  |  tratariam com gentileza se eu fizesse isso por elas. Essa linha de
  |  raciocínio era terrivelmente ingênua e ainda estou tentando me
  |  re-condicionar para entender que, em certos contextos, ser acalorado não é
  |  a resposta.

.text-center.quote: a(href="http://highexistence.com/the-nomads-fountain-of-youth-travel-as-a-means-of-expanding-time/")
  | Acredita que amor é tudo o que há… é assaltado(a) na Tailândia após confiar
  |  num estranho.

p A tristeza é que, embora você possa estar isolado, a luta pela sobrevivência
  |  ainda é muito real para um grande número de pessoas neste planeta. Muitas
  |  pessoas cresceram na pobreza, cercadas pelo crime e aprenderam que a única
  |  maneira de sobreviver é atacando a fraqueza alheia. #[=""]
  strong A maioria das pessoas em todo o mundo parece #[em não] ter essa
    |  mentalidade
  | , mas se você estiver em uma cidade ou país onde a pobreza prevalence, você
  |  deve tomar certas precauções de senso comum – coisas básicas, como:

ol
  li Não ande sozinho depois de escurecer.
  li Tente ficar longe de áreas vazias.
  li Não pare para lidar com pessoas que tentam vender coisas para você.
  li Faça distinções entre pessoas; permita-se saber que não há problema em
    |  confiar no mecanismo altamente evoluído de correspondência de padrões do
    |  seu cérebro quando ele diz que alguém parece estar drogado, desesperado
    |  ou perigoso.

h3 🔟 Querer tanto que as várias práticas “espirituais” sejam corretas, que
  |  desconsideram totalmente a ciência.

p Há uma tendência muito anti-científica de grande parte da comunidade
  |  espiritual, e acho que isso é uma vergonha. Parece-me que muitas pessoas
  |  espirituais se tornam hostis à ciência porque certas crenças e práticas
  |  que consideram valiosas são consideradas polêmicas ou pseudocientíficas
  |  dentro da comunidade científica. #[=""]
  strong Se uma crença ou prática não for comprovada ou for pseudocientífica,
    |  isso significa apenas que ainda não conseguimos confirmar sua validade
    |  por meio de experimentação repetida em um ambiente de laboratório.
  |  Isso não significa que não seja verdade ou valioso.

.text-center.quote: a(href="http://highexistence.com/possibilianism-middle-ground-strict-atheism-christianity/")
  | Fica zangado(a) porque a Lei da Atração é considerada pseudociência…
  | decide que toda ciência é besteira e pode ser ignorada.

p O #[strong método científico] é uma das melhores ferramentas que temos para
  |  entender a mecânica do universo observável; permitiu-nos descobrir
  |  a profunda verdade da evolução biológica, observar os confins do espaço,
  |  estender nossos ciclos de vida por décadas e caminhar na Lua, entre outras
  |  coisas; descartá-lo é perder uma das nossas mais poderosas lentes para
  |  o entendimento da realidade.

.text-center
  a(href="http://highexistence.com/possibilianism-middle-ground-strict-atheism-christianity/")
    img(src="/img/bobagem-espiritual/scientific-method.jpg"
        alt="Scientific Method as an Ongoing Process")/

p Como #[=""]
  a(href="http://highexistence.com/carl-sagan-on-what-would-happen-if-advanced-aliens-contacted-earth/")
    | Carl Sagan
  |   memoravelmente disse:

blockquote
  p A ciência não é apenas compatível com a espiritualidade; é uma fonte
    |  profunda de espiritualidade. Quando reconhecemos nosso lugar em uma
    |  imensidão de anos-luz e na passagem das eras, quando compreendemos
    |  a complexidade, a beleza e a sutileza da vida, então esse sentimento
    |  crescente, essa sensação de euforia e humildade combinadas, é certamente
    |  espiritual. Assim são nossas emoções na presença de grande arte ou
    |  música ou literatura, ou de atos de coragem desinteressada exemplar como
    |  os de Mohandas Gandhi ou Martin Luther King Jr. A noção de que ciência e
    |  espiritualidade são de alguma forma mutuamente exclusivas é um
    |  desserviço para ambos.

h3 Bônus

blockquote
  p Não vou reproduzir o tópico bônus sobre Capitalismo, pois é uma tremenda
    |  hode à estupidez capitalista, atribuindo ao Capitalismo louros que não
    |  lhe pertence, distircendo fatos e usando frases de efeito rasas.

  p Se quiser, leia no #[=""]
    a(href="http://highexistence.com/10-spiritual-bypassing-things-people-total-bullshit/")
      | artigo original
    | .

h3 Estamos todos aprendendo…

p
  strong Penso que, para que os vários movimentos espirituais globais
    |  interconectados sejam extremamente impactantes e úteis, eles precisam
    |  abordar seus aspectos de sombra.

p Neste ensaio, tentei esclarecer alguns dos pontos cegos que parecem
  |  prevalecer na comunidade espiritual. Como eu disse, a maioria dos itens
  |  que discuti se aplicava a mim em um ponto ou outro. É decididamente fácil
  |  cair em algumas das armadilhas da espiritualidade e abrigar várias crenças
  |  e comportamentos limitantes, ao mesmo tempo em que sentimos que alguém
  |  atingiu um nível “superior” de ser.

p A lição aqui é que crescimento e aprendizado são processos intermináveis. Se
  |  você acha que não tem mais nada para aprender, provavelmente está se
  |  sabotando de diversas maneiras. Pode ser profundamente difícil admitir que
  |  há muito tempo uma pessoa está errada ou equivocada, mas a alternativa é
  |  muito pior. A alternativa é um tipo de #[=""]
  strong morte espiritual e intelectual
  |  – um estado de estagnação perpétua em que alguém se ilude infinitamente
  |  pensando que cada um tem todas as respostas, que alcançou sua forma final.
  |  Em um mundo em rápida mudança, o aprendizado contínuo é de suma
  |  importância.

p Na melhor das hipóteses, a espiritualidade é uma força que pode ajudar
  |  a humanidade a perceber nossa identidade comum como seres sencientes,
  |  ganhar #[=""]
  a(href="https://medium.com/@schuyler_brown/the-world-in-a-state-of-extreme-transition-b30f0e7b535")
    | consciência ecológica
  | , sentir-se conectado ao nosso cosmos e abordar #[=""]
  a(href="http://highexistence.com/ultimate-flowchart-for-determining-how-you-can-help-the-world/")
    | as questões mais prementes de nosso tempo
  |  com compaixão, engenhosidade, equanimidade e o que Einstein chamou uma
  |  “curiosidade santa”.

p: strong Na melhor das hipóteses, a espiritualidade é uma força que nos
  |  impulsiona em direção a um futuro mais harmonioso, cooperativo e
  |  sustentável. Aqui é para refinar nossa espiritualidade coletiva e cocriar
  |  um mundo mais bonito.

hr/

p.pull-right: small
  a(href=ref_urls.author) !{author}
  |  | #[=""]
  a(href="https://www.facebook.com/jordanbates4") Facebook
  |  | #[=""]
  a(href="https://twitter.com/_jordan_bates") Twitter
