img.pull-right(src=image alt="hiponga")

blockquote
  p Artigo de #[=""]
    a(href=ref_urls.author)!= author
    |  sobre armadilhas do “caminho espiritual”, originalmente publicado em
    |  #[=""]
    a(href=ref_urls.original_post)
      | HighExistence
    | .

p.mg-first: strong Ninguém nunca me disse que a espiritualidade poderia ser uma
  |  armadilha de auto-sabotagem.

p Passei uns três anos lendo sobre ensinamentos espirituais e incorporando-os
  |  em minha vida antes de aprender que #[=""]
  strong a espiritualidade tem um lado sombrio
  | .

p Naturalmente, fiquei surpreso. Eu me senti meio traído.

p: em Como algo que parecia tão puro e bom poderia ser prejudicial?

p A resposta tem a ver com algo que os psicólogos chamam de #[=""]
  a(href="http://highexistence.com/spiritual-bypassing-how-spirituality-sabotaged-my-growth/")
    | desvio espiritual
  | . No início dos anos 80, o psicólogo #[=""]
  a(href="https://en.wikipedia.org/wiki/John_Welwood") John Welwood
  |  cunhou o termo “desvio espiritual” para se referir ao uso de práticas e
  |  crenças espirituais com o intuito de evitar confrontar sentimentos
  |  desconfortáveis, ferimentos não resolvidos e necessidades emocionais e
  |  psicológicas fundamentais.

p De acordo com o psicoterapeuta integral #[=""]
  a(href="http://robertmasters.com/") Robert Augustus Masters
  | , o desvio espiritual faz com que nos retiremos de nós mesmos e dos outros,
  |  para nos escondermos atrás de um tipo de véu espiritual de crenças e
  |  práticas metafísicas. #[=""]
  a(href="http://realitysandwich.com/74388/spiritual_bypassing/") Ele diz
  |  que “não apenas nos distancia de nossa dor e difíceis questões pessoais,
  |  mas também de nossa própria #[=""]
  a(href="https://store.highexistence.com/pages/30-challenges")
    | espiritualidade autêntica
  | , nos deixando em um limbo metafísico, uma zona de delicadeza exagerada,
  |  bondade e superficialidade”.

h3 Painful Realizations: My Own Spiritual Bypassing

p No livro inovador de Robert August Masters, #[=""]
  a(href="https://www.amazon.com/Spiritual-Bypassing-Spirituality-Disconnects-Matters-ebook/dp/B003WUYPJC/ref=as_li_ss_tl?s=books&ie=UTF8&qid=1462122692&sr=1-1&keywords=spiritual+bypassing&linkCode=sl1&tag=bates0b-20&linkId=e8d0cde2e58f6dc6284931e35b07ec25")
    em Spiritual Bypassing: When Spirituality Disconnects Us from What Really
      |  Matters
  | , ele escreve:

blockquote
  p Os aspectos do desvio espiritual incluem distanciamento exagerado,
    |  entorpecimento e repressão emocional, ênfase excessiva no positivo,
    |  fobia de raiva, compaixão cega ou excessivamente tolerante, limites
    |  fracos ou porosos demais, desenvolvimento desequilibrado (inteligência
    |  cognitiva frequentemente muito à frente da inteligência emocional e
    |  moral), julgamento debilitante sobre a negatividade ou o lado sombrio,
    |  a desvalorização do relativo pessoal ao espiritual, e delírios de ter
    |  chegado a um nível mais alto de ser.

center: a(href="http://highexistence.com/ultra-spiritual-hilarious-video-satirizes-shadow-tendencies-of-spiritual-tendencies/")
  img(src="/img/bobagem-espiritual/spiritual-beast.jpg"
      alt="Minha vibração é tão alta, cara. Meus chacras estão tão alinhados. Poooorra, sou uma fera espiritual, mano.")

p Eu encontrei o conceito de desvio espiritual pela primeira vez no trabalho de
  |  Mestrado. Embora eu estivesse relutante em admitir isso, eu imediatamente
  |  soube em algum nível que esse conceito se aplicava a mim.

p: strong Enquanto eu continuava a refletir sobre o desvio espiritual, notei
  |  cada vez mais #[=""]
  a(href="https://pt.wikipedia.org/wiki/Sombra_(psicologia)")
    | aspectos de sombra
  |  da espiritualidade, e percebi que inadvertidamente eu havia encenado
  |  muitos deles de uma vez ou outra.

p Apesar de dolorosas, essas foram algumas das realizações mais importantes que
  |  eu já tive. Eles me ajudaram a parar de usar uma #[=""]
  a(href="http://highexistence.com/ultra-spiritual-hilarious-video-satirizes-shadow-tendencies-of-spiritual-tendencies/")
    | forma distorcida
  |  de "espiritualidade" como um #[=""]
  a(href="https://www.youtube.com/watch?v=1kDso5ElFRg") impulso egoico
  |  e a começar a assumir uma responsabilidade maior por abordar minhas
  |  necessidades psicológicas e os problemas que surgem em minha vida.

h3 10 coisas “espirituais” que as pessoas fazem que sabotam seu crescimento

p TODO

hr/

p.pull-right: small
  a(href=ref_urls.author) !{author}
