nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(
        type="button"
        data-togge="collapse" data-target="#navbar"
        aria-expanded=false aria-controls="navbar"
      )
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .dropdown
        span.navbar-brand.dropdown-toggle(data-toggle="dropdown"
                                          data-hover="dropdown")
          != public.main.title

        ul.dropdown-menu
          li: a(href=public.main.host)
            i.glyphicon.glyphicon-home
            | &nbsp;
            != public.main.title
          li: a(href=public.montegasppa.blog.url)
            i.glyphicon.glyphicon-menu-right
            | &nbsp;
            != public.montegasppa.blog.title
          li: a(href=public.kodumaro.blog.url)
            i.glyphicon.glyphicon-menu-right
            | &nbsp;
            != public.kodumaro.blog.title

          li: hr/

          each partner in _.values(public.support)
            li: a(href=partner.url)
              if partner.logo
                img(src=partner.logo)
                | &nbsp;
              else
                i.glyphicon.glyphicon-link
                | &nbsp;
              != partner.title

    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        block nav-bar
          li(class={active: homeActive}): a(href="/") Início
          li(class={active: aboutActive}): a(href="/about.html") Sobre
