include ../_widgets/list-group-item.pug

h3!= title

+ul
  each page in pages.sort((a, b) => b.release - a.release)
    a(href=`${page.path}.html`)
      +li
        small
          | [
          != moment(page.release).format('YYYY/MM')
          | ] #[=""]
          if page.path.includes('montegasppa')
            img(src=public.montegasppa.blog.icon
                alt=public.montegasppa.blog.prefix)/
          else if page.path.includes('kodumaro')
            img(src=public.kodumaro.blog.icon
                alt=public.kodumaro.blog.prefix)/
          else
            i.glyphicon.glyphicon-link
          |  #[=""]
        != page.title
