- var tags = {}
- var montegasppa = "Reflexões…"
- var kodumaro = public.kodumaro.blog.title

each yearDir, yearSlug in public.montegasppa
  if yearDir && /^\d{4}$/.test(yearSlug)
    each monthDir, monthSlug in yearDir
      if monthDir && /^\d\d$/.test(monthSlug)
        each page, slug in monthDir
          - var url = `montegasppa/${yearSlug}/${monthSlug}/${slug}.html`
          - var title = `${montegasppa} :: ${page.title}`
          - var current = {url, title}
          each tag in page.tags
            if tags[tag]
              - tags[tag].pages.push(current)
            else
              - tags[tag] = {name: tag, pages: [current]}

each yearDir, yearSlug in public.kodumaro
  if yearDir && /^\d{4}$/.test(yearSlug)
    each monthDir, monthSlug in yearDir
      if monthDir && /^\d\d$/.test(monthSlug)
        each page, slug in monthDir
          - var url = `kodumaro/${yearSlug}/${monthSlug}/${slug}.html`
          - var title = `${kodumaro} :: ${page.title}`
          - var current = {url, title}
          each tag in page.tags
            if tags[tag]
              - tags[tag].pages.push(current)
            else
              - tags[tag] = {name: tag, pages: [current]}

.col-md-4
  .list-group
    h3(class=["mg-title", "list-group-item", "active"]): em Tags
    ul.list-group
      each tagName in Object.keys(tags).sort()
        - var tag = tags[tagName]
        li.list-group-item
          select.list-group-item(
            onchange="window.location = this.value; return true;"
            style={width: "100%"}
          )
            option(selected=true)!= tag.name
            each page in tag.pages
              option(value=page.url)!= page.title
