extends ../_layout.jade

block blog-head
  title #{public.kodumaro._data.blog.title} :: #{title}
  link(rel="alternate" type="application/atom+xml" title=public.kodumaro._data.blog.title
       href=public.kodumaro._data.blog.url+"feed.xml")/
  link(rel="stylesheet" href="/css/kodumaro.css")/
  link(rel="icon" href="/img/kodumaro.ico")/
  script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")

block append nav-bar
  li(class={active: home}): a(href=public.kodumaro._data.blog.url)!= public.kodumaro._data.blog.title
  if (!home)
    li.active: a(href=".") !{title}

block main-container
  div(class=["panel", "panel-default"])
    .panel-heading
      h2.mg-title !{public.kodumaro._data.blog.title} :: !{title}
      if release
        - var release_ = new Date(release + 'T12:00')
        - var month = ('0' + release_.getMonth()).slice(-2)
        h6.pull-right Publicado em #{release_.getDate()} de #{monthSet[month]}, #{1900 + release_.getYear()}
      h6!= public.kodumaro._data.blog.subtitle

    .panel-body
      != yield

  if current.source !== 'index'
    div(class=["panel", "panel-default"])
      .panel-body
        #disqus_thread
        script(language="javascript").
          var disqus_config = function() {
            this.page.url = '#{mainHost}/#{current.path.join("/")}.html'
            this.page.identifier = '#{current.path.slice(1).join(".")}'
            this.page.title = '!{title}'
          }
        noscript Por favor habilite o JavaScript para ver os 
          a(href="https://disqus.com/?ref_noscript")
            | comentários do Disqus
          | .

block footer
  p.small
    if author
      | Autor: #{author} &nbsp;
    else
      | !{public.kodumaro._data.blog.title} &nbsp;
    a(rel="license" href="http://creativecommons.org/licenses/by/4.0/deed.pt")
      img(alt="[CC-BY 4.0]" src="https://i.creativecommons.org/l/by/4.0/80x15.png"
          style={"border-width" :"0"})

block append final-scripts
  if current.source !== 'index'
    script(src="/js/kodumaro.disqus.js")
  script#dsq-count-scr(src="//kodumaro.disqus.com/count.js" async=true)
