doctype xml
rss(version="2.0" xmlns:atom="http://www.w3.org/2005/Atom")
  channel
    title= public.kodumaro._data.blog.title
    link= public.kodumaro._data.blog.url
    description= public.kodumaro._data.blog.subtitle

    - var articles = new Array
    each yearDir, yearSlug in public.kodumaro
      if yearDir
        each monthDir, monthSlug in yearDir
          if monthDir._data
            each page, slug in monthDir._data
              - var article = {}
              - article.url = public.kodumaro._data.blog.url + yearSlug + "/" + monthSlug + "/" + slug + ".html"
              - article.title = page.title
              - article.release = page.release
              - article.content = page.content
              - articles.unshift(article)

    each article in articles.slice(0, 20)
      item
        title!= article.title
        description <![CDATA[!{article.content}]]>
        pubDate= new Date(article.release)
        link #{article.url}
        guid(isPermaLink="true") #{article.url}
