img.pull-right(src=image alt="Lamp")

p.mg-first There’s a name in my ID, but that means nothing. Never did. I had
  |  two names when I was born: the first was #[em Rogrigo].

p Until I was 3, I simply couldn’t understand why there was a “D” in my written
  |  name. Someday my mother told me that my name wasn’t #[em Rogrigo], but
  |  Ro#[strong d]rigo – that was the time when I broke up with that name for
  |  good.

p My grandma used to call me Boddhi, that was my second name. She used to call
  |  my brother Boddhinho (Portuguese for Little Boddhi). For her, we were
  |  Boddhi and Little Boddhi.

p My brother was too young to pronounce the B, so he called me Udgie – and I
  |  grow up as Udgie.

p When I was an autistic teenager, my mean classmates named me Archimedes, not
  |  as a compliment, but as a joke.

p However I liked it, and I took that name to me, getting hold of it, and I
  |  bent it, turning into #[=""]
  a(href="https://translate.google.com/#view=home&op=translate&sl=el&tl=en&text=%CE%91%CF%81%CF%87%CE%B9%CE%BC%CE%AE%CE%B4%CE%B7%CF%82"
    title="Play Listen") Arĥimedeς
  | . If it’s too hard to say, call me #[=""]
  a(href="https://talesofarcadia.fandom.com/wiki/AAARRRGGHH!!!") Arh
  | .

p My great-great-grandfather was called Gasppar Montini, but, when he arrived
  |  in Brazil, he changed the name to Monte Gasppa. Somehow I started to take
  |  to that name, and I’m gotten hold of it too, joining it in a single word:
  |  #[=""]
  a(href="https://translate.google.com/#view=home&op=translate&sl=it&tl=en&text=Montegasppa"
    title="Play Listen") Montegasppα
  | .

p That’s my name – my real name, the one I call myself: Arĥimedeς Montegasppα.

p I’ve been called by a lot of other names: in the technology milieu, people
  |  call me #[=""]
  a(href="https://translate.google.com/#view=home&op=translate&sl=pt&tl=en&text=Cacilhas"
    title="Play Listen") Cacilhας
  | . The #[=""]
  a(href="https://eo.wikipedia.org/wiki/Kultura_Centro_Esperantista") KCE
  |  people used to call me #[=""]
  a(href="https://translate.google.com/#view=home&op=translate&sl=eo&tl=en&text=La%20Batalema"
    title="Play Listen") La Batalema
  |  (The Brawler, The Tough), and that’s my email address.

p This post may seem pointless, perhaps it is. It’s just an outburst – I don’t
  |  wanna go without leaving it written.

+medium-link
